<!DOCTYPE html>
<html xmlns:th=”http://www.thymeleaf.org”>
<html lang="en">

<head>
    <title>Car rent</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        }

        html {
            scroll-behavior: smooth;
        }

        label {
            margin-top: 15px;
        }

        .btn {
            margin-top: 20px;
        }
    </style>
</head>

<body>


<section class=" bg-light" id="register">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6" style="background: url(https://images.unsplash.com/photo-1471540161297-5ddd90d98af1?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;h=768&amp;fit=crop&amp;ixid=eyJhcHBfaWQiOjM3ODR9)">
                <div class="lc-block">
                    <div editable="rich" class="p-5 text-light">
                        <h1 class="mb-3">Login</h1>
                        <form th:action="@{/login-process}" th:method="post" th:object="${user}">
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls">
                                    <input th:field="*{email}" type="text" class="form-control" placeholder="email">
                                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger">error-message</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls">
                                    <input th:field="*{password}" type="password" class="form-control" placeholder="Password">
                                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger">Error</span>

                                </div>
                            </div>


                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                        </form>
                        <div class="row d-block p-3">If you do not have an account please <a href="#register" style="text-decoration: underline;">REGISTER</a>.</div>

                    </div>
                </div>
                <!-- /lc-block -->
            </div>
            <!-- /col -->
            <div class="col-md-6">
                <div class="lc-block p-5">
                    <div editable="rich">
                        <h1>Register</h1>
                        <form th:action="@{/register}" th:method="post" th:object="${user}">
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls">
                                    <label>Name</label>
                                    <input th:field="*{name}" type="text" class="form-control" placeholder="name">
                                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">error-message</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls">
                                    <label>Last name</label>
                                    <input th:field="*{lastName}" type="text" class="form-control" placeholder="last name">
                                    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="text-danger">error-message</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls">
                                    <label>Email</label>
                                    <input th:field="*{email}" type="text" class="form-control" placeholder="email">
                                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger">error-message</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls">
                                    <label>Password</label>
                                    <input th:field="*{password}" type="password" class="form-control" placeholder="Password">
                                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger">error-message</span>

                                </div>
                            </div>
                            <br>
                            <div id="success"></div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">register</button>
                            </div>
                        </form>

                        <!--<form class="form-horizontal">
                            <fieldset>
                                &lt;!&ndash; Form Name &ndash;&gt;
                                <h1>Register</h1>
                                &lt;!&ndash; Text input&ndash;&gt;
                                <input id="textinput" name="textinput" type="text" placeholder="Name" class="form-control input-md">
                                &lt;!&ndash; Text input&ndash;&gt;
                                <input id="email" name="email" type="text" placeholder="Your E-mail" class="form-control input-md">
                                &lt;!&ndash; Password input&ndash;&gt;
                                <input id="passwordinput" name="passwordinput" type="password" placeholder="Password" class="form-control input-md">
                                &lt;!&ndash; Text input&ndash;&gt;
                                <input id="textinput" name="textinput" type="text" placeholder="City" class="form-control input-md">
                                &lt;!&ndash; Button &ndash;&gt;
                                <button id="" name="" class="btn btn-primary">Register</button>
                            </fieldset>
                        </form>-->
                    </div>
                </div>
                <!-- /lc-block -->
            </div>
            <!-- /col -->
        </div>
    </div>
</section>

<footer class="p-5 bg-dark text-center text-light">
    ® Car rent
</footer>

</body>

<script>
    / Select all links with hashes
    $('a[href*="#"]')
        .not('[href="#"]')
        .not('[href="#0"]')
        .click(function(event) {
            // On-page links
            if (
                location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') &&
                location.hostname == this.hostname
            ) {
                // Figure out element to scroll to
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                // Does a scroll target exist?
                if (target.length) {
                    // Only prevent default if animation is actually gonna happen
                    event.preventDefault();
                    $('html, body').animate({
                        scrollTop: target.offset().top
                    }, 1000, function() {
                        // Callback after animation
                        // Must change focus!
                        var $target = $(target);
                        $target.focus();
                        if ($target.is(":focus")) { // Checking if the target was focused
                            return false;
                        } else {
                            $target.attr('tabindex', '-1'); // Adding tabindex for elements not focusable
                            $target.focus(); // Set focus again
                        };
                    });
                }
            }
        });
</script>

</html>