<!DOCTYPE html>
<html xmlns:th=”http://www.thymeleaf.org”>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CarRental!</title>
</head>
<body>
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

                <form th:action="@{/login-process}" th:method="post" th:object="${user}">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Email</label>
                            <input th:field="*{email}" type="text" class="form-control" placeholder="email">
                            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger">error-message</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Password</label>
                            <input th:field="*{password}" type="password" class="form-control" placeholder="Password">
                            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger">error-message</span>

                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">login</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</article>

</body>
</html>